# Virtual environment
venv/
.env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Large files
*.dylib
*.so
*.bin

temp_videos/
consolidated_debug_log.txt
debug_log.txt
.gitignore
output_transcript.srt
input_transcript.srt
.gitignore
